body {
  font-family: 'Montserrat', sans-serif;
}

header {
  background: url('/imagens/header\ image.png');
  padding: 20px;
}

.box-header {
  position: relative;
  margin: 0 auto;
  width: 940px;
}

nav {
  position: absolute;
  right: 0;
  top: 125px;
}

nav li {
  display: inline;
  margin: 0 10px 0;
}

nav a {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffffff;
  font-size: 20px;
  transition: 0.5s all;
  text-shadow: 2px 0 0 #154893, -2px 0 0 #154893, 0 2px 0 #154893,
    0 -2px 0 #154893, 1px 1px #154893, -1px -1px 0 #154893, 1px -1px 0 #154893,
    -1px 1px 0 #154893;
}

nav a:hover {
  /* color: #ef4036; */
  color: #f2cc06;
}

footer {
  padding: 10px;
  height: 300px;
  background: url(/imagens/footer\ image\ -\ adjust4.png) no-repeat center
    center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  position: relative;
}

.copyright {
  color: black;
  font-size: 13px;
  margin: 20px 0 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
